.about-company>h1 {
    font-size: 30px;
    font-weight: 500;
    border-bottom: 1px solid blue;
    width: 510px;
    padding: 0 10px 10px;
    margin: 100px 0;
}
.company-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.content{
    width: 49%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;
    column-gap: 20px;  
}
.content img{
    width: 100px;
    height: 110px;
}
.content h1{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color:#014ea2;
}
.content p{
    font-size: 16px;
}
.about-inner{
    width: 100%;
    background-image:url('../../images/abstract.webp');
    background-size:cover;
    background-repeat:no-repeat;
}
@media(max-width:1013px){
    .first{
        width: 100%;
    }
    .content{
        width: 100%;
    }
}
@media(max-width:607px){
    .about-company>h1 {
        font-size: 20px;
        margin: 50px 0;
        width: 70%;
        padding-top: 30px;
        line-height: 1.2;

    }
    .content{
        margin-bottom: 40px;
    }

}
@media(max-width:500px){
    .content h1{
        font-size: 15px;
    }
    .first img{
        width: 70%;
    }
    .content p{
        font-size: 12px;
    }

}
@media(max-width:410px){
    .content h1{
        font-size: 13px;
    }
    .content img{
        width: 60px;
        height: 60px;
    }

}
@media(max-width:350px){
    .about-company>h1 {
        font-size: 20px;
        margin: 50px 0 20px;
    }

}